---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import React from "./icons/React.astro"
import Css from "./icons/Css.astro"
import Html from "./icons/Html.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  REACT: {
    name: "React.js",
    class: "bg-[#077ea4] text-white",
    icon: React,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#077ea4] text-white",
    icon: Css,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#077ea4] text-white",
    icon: Html,
  },
}
const PROJECTS = [
{
    title: "Filtro de datos",
    description:
      "Desarrollo de filtro de datos para la noticia de ¿Quiénes son los cardenales que elegirán al nuevo papa? ",
    link: "https://www.rtve.es/noticias/20250428/buscador-quienes-son-cardenales-elegiran-nuevo-papa/16471993.shtmll",
    image: "https://img2.rtve.es/i/?w=1600&i=01745579621311.jpg",
    tags: [TAGS.REACT, TAGS.CSS, TAGS.HTML],
    github: ''
  },
  {
    title: "Desarrollo de Landing",
    description:
      "Noticia con módulo de scrolling horizontal, parallax de figuras en canvas, personalización de la maquetación HTML y CSS de la página y conexión con API de noticias.",
    link: "https://www.rtve.es/noticias/20241005/muertes-palestinos-victimas-guerra-gaza-israel/16274312.shtml",
    image: "https://img.rtve.es/i/ano-guerra-gaza_01728057628100.jpg",
    tags: [TAGS.REACT, TAGS.CSS, TAGS.HTML],
    github: ''
  },
  {
    title: "Frame a Frame",
    description:
      "Para los juegos olimpícos de Paris 2024 hubo la necesidad de crear un módulo para reproducir secuencias de imagenes con el scroll.",
    link: "https://www.rtve.es/deportes/20240729/resumen-mountain-bike-juegos-olimpicos-paris-2024/16202036.shtml",
    image: "https://img2.rtve.es/i/?w=1600&i=01722270780057.jpg",
    tags: [TAGS.REACT, TAGS.CSS, TAGS.HTML],
    github: ''
  },
  {
    title: "Mapa de playas",
    description:
      "Maquetación de la interfaz UI/UX y desarrollo de la integración con la base de datos, incluyendo la interactividad del listado y las fichas de detalle.",
    link: "https://www.rtve.es/noticias/20240725/gran-mapa-playas-espana-buscador/16164854.shtml",
    image: "https://img2.rtve.es/i/?w=1600&i=01721834516789.jpg",
    tags: [TAGS.CSS, TAGS.HTML],
    github: ''
  },
  {
    title: "Videos en autoplay",
    description:
      "Reproducción automática y configuración de audio con React.",
    link: "https://www.rtve.es/noticias/20231201/guerra-gaza-diario-testigo-incomodo/2462999.shtml",
    image: "https://nachodiaz.me/wp-content/uploads/2024/01/gaza.gif",
    tags: [TAGS.REACT, TAGS.CSS, TAGS.HTML],
    github: ''
  },
  {
    title: "Sitio web con scrollytelling con React y MapBox",
    description:
      "Minisitio desarrollado con React de 6 scrollytelling de texto, videos, ubicaciones y recorridos un un mapa con Mapbox. Gestión de reproducción de videos y audio.",
    link: "https://www.rtve.es/noticias/20240306/11m-mapa-especial-regreso-peor-dia-nuestras-vidas/15995328.shtml",
    image: "https://nachodiaz.me/wp-content/uploads/2024/06/img2.rtve_.jpg",
    tags: [TAGS.REACT, TAGS.CSS, TAGS.HTML],
    github: ''
  },
  {
    title: "Scrollytelling Horizontal y GSAP",
    description:
      "Módulo para scrollytelling horizontal desarrollado con React y GSAP",
    link: "https://www.rtve.es/noticias/20231215/visita-mercado-cena-navidad-aun-mas-cara-este-ano/2467151.shtml",
    image: "/img/img-apertura.jpg",
    tags: [TAGS.REACT, TAGS.CSS, TAGS.HTML],
    github: ''
  },
  {
    title: "Drag and drop y API de video",
    description:
      "Desarrollo de módulo interactivo con drag and drop y API de vídeo con React",
    link: "https://www.rtve.es/noticias/20230928/productos-alimentos-mas-desperdiciados-espana/2456540.shtm",
    image: "/img/desperdicios.gif",
    tags: [TAGS.REACT, TAGS.CSS, TAGS.HTML],
    github: ''
  },
  {
    title: "Desarrollo de componentes web de filtro de datos React",
    description:
      "Desarrollo de módulo interactivo para mostrar quienes son los diputados en el congreso.",
    link: "https://www.rtve.es/noticias/20230817/composicion-congreso-diputados/2453798.shtml",
    image: "/img/filtro-diputados.gif",
    tags: [TAGS.REACT, TAGS.CSS, TAGS.HTML],
    github: ''
  },
]
---


<div class="flex flex-wrap justify-between gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col md:w-1/3 px-1">
        <div class="w-full">
          <div class="relative aspect-[2/1] flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform overflow-clip rounded-md sm:rounded-md md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-400 lg:hover:border-gray-400 lg:hover:bg-gray-800/50">
            <img alt="" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
          </div>
        </div>

        <div class="w-full md:max-w-lg">
          <h3 class="text-2xl text-gray-800 dark:text-gray-100 pt-2">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            {/* <ul class="flex flex-row mb-2 gap-x-2">
                {tags.map((tag) => (
                  <li class="w-full">12
                    <span
                      class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                    >
                      <tag.icon class="size-4" />
                      {tag.name}
                    </span>
                  </li>
                ))}
              </ul> */}

            <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
                {github && (
                  <LinkButton href={github}>
                    <GitHub class="size-6" />
                    Code
                    
                  </LinkButton>
                )}
                {link && (
                  <LinkButton href={link}>
                    <Link class="size-4" />
                    Ver la noticia
                  </LinkButton>
                )}
              </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>



